.footer {
    height: 50px;
    margin-top: -50px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.content {
    margin: 0 auto;
    padding-top: 8px;
    max-width: 80vw;
    display: flex;
    justify-content: space-between;

    div {
        display: flex;
        margin-right: 8px;
    }
}

@media (prefers-color-scheme: dark) {
    .footer {
        background: #0d1117;
        border-top: 1px solid #c9d1d9;
    }
}
