.videoList {
    width: 100%;
    border-collapse: collapse;
}

.videoList thead {
    text-align: left;
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
    background-color: inherit;
    padding-top: 8px;
}

@media (prefers-color-scheme: dark) {
    .videoList thead {
        color: #c9d1d9;
        background: #0d1117;
    }
}

.videoList th {
    padding: 0;
}

.videoList th.details {
    width: 10ch;
}

.videoList th.thumbnail {
    width: 145px;
}

.videoList td {
    border: 1px solid gray;
}

img.thumbnail {
    height: 100px;
}

.videoDetails {
    padding-left: 10px;
    font-size: 0.9em;
    padding-bottom: 12px;
    display: inline-flex;
}

.videoDetails .playlistControls {
    margin-right: 8px;
}

.secondary {
    font-size: 0.8em;
    line-height: 0.8em;
}

.actions {
    display: flex;
    justify-content: space-around;
}

.searchbox {
    width: 40vw;
    font-size: 1rem;
    background-color: transparent;
    color: inherit;
    margin-bottom: 8px;
    padding: 4px 8px;
    border: 1px solid;
}

.searchbar {
    display: flex;
    justify-content: space-between;
}

.videocount {
    width: 15vw;
}

.addBtn {
    color: forestgreen;
}

.removeBtn {
    color: crimson;
}
