.videoList th {
    text-align: left;
}
img.thumbnail  {
    height: 100px;
}

.videoDetails {
    padding-left: 10px;
    font-size: 0.9em;
    padding-bottom: 12px;
}

.secondary {
    font-size: 0.8em;
    line-height: 0.8em;
}
