.removeBtn {
    background-color: transparent;
    color: crimson;
    display: inline;
    border: 0;
    cursor: pointer;
}

.tagList {
    list-style: none;
    padding: 0;
}

.tagSelect {
    border: 1px solid;
    margin-bottom: 4px;
}

.submitBtn {
    background-color: transparent;
    color: inherit;
    border: 1px solid;
    border-left: 0;
}

@media (prefers-color-scheme: dark) {
    .tagSelect {
        background: #0d1117;
        color: inherit;
    }
}