.videoItem {
    padding: 8px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
}

.dragHandle {
    margin-right: 16px;
    color: inherit;
    border: 1px solid #666;
    background-color: transparent;
}

.removeBtn {
    color: crimson;
}
